
@{
    ViewBag.Title = "Index";
}

<h2>Manage Books</h2>
<a id="btnAdd" class="btn btn-success">Add New Book</a>
<div id="view">
    Please Wait ...
</div>




@section Scripts
{
    <script>
    $(function() {
        $("#view").load("/Home/List");
    });

    $("#btnAdd").click(function() {
        $("#view").load("/Home/Add");
    });

    function Edit(id) {
        $("#view").load("/Home/Edit/"+id);
    }

    function Delete(id) {
       if (confirm('آیا از حذف مطمئن هستید ؟')) {
           $.ajax({
               url: "/Api/Books/" + id,
               type: "Delete"
           }).done(function () {
               $("#tr_" + id).addClass("danger");
               $("#tr_" + id).hide('slow');
           });
       }
    }
</script>
}
