<h2>List Book</h2>


<table class="table table-bordered" id="list">
    <tr>
        <th>ID</th>
        <th>Book Name</th>
        <th>Author</th>
        <th>ISBN</th>
        <th>Command</th>
    </tr>
</table>


<script>
    $.getJSON("/Api/Books", function(res) {
        $.each(res, function(key, val) {
            var item = "<tr id='tr_"+val.ID+"'><td>" + val.ID + "</td><td>" + val.BookName + "</td><td>" + val.Author + "</td><td>" + val.ISBN + "</td><td><a class='btn btn-warning  btn-sm' onClick='Edit(" + val.ID + ")'>edit</a><a class='btn btn-danger btn-sm' onClick='Delete(" + val.ID + ")'>delete</a></td></tr>";
            $("#list").append(item);

        });
    })



</script>
